@charset "utf-8";

main { padding-top: 20px; }

// Set your brand colors
$lightblue: #247da6;

// Update Bulma's global variables
$primary: $lightblue;

// Update some of Bulma's component variables
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

// Import only what you need from Bulma
@import "./node_modules/bulma/sass/utilities/_all.sass";
@import "./node_modules/bulma/sass/base/_all.sass";
@import "./node_modules/bulma/sass/elements/button.sass";
@import "./node_modules/bulma/sass/elements/container.sass";
@import "./node_modules/bulma/sass/elements/title.sass";
@import "./node_modules/bulma/sass/form/_all.sass";
@import "./node_modules/bulma/sass/components/navbar.sass";
@import "./node_modules/bulma/sass/components/card.sass";
@import "./node_modules/bulma/sass/components/level.sass";
@import "./node_modules/bulma/sass/layout/footer.sass";
@import "./node_modules/bulma/sass/layout/section.sass";
@import "./node_modules/bulma/sass/grid/columns.sass";
@import "./node_modules/bulma/sass/elements/table.sass";
@import "./node_modules/bulma/sass/elements/progress.sass";

